################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/backend/.vs
/backend/GFDP.WebApi/bin
/backend/GFDP.WebApi/Log
/backend/GFDP.WebApi/obj
/backend/GFDP.WebApi/Properties/PublishProfiles
/backend/GFDF.Sys/bin
/backend/GFDF.Sys/obj
/backend/GFDF.Infrastruct/bin
/backend/GFDF.Infrastruct/obj
/backend/GFDF.Dev/bin
/backend/GFDF.Dev/obj
